{% extends "base.html" %}

{% block title %}Добавление доменов{% endblock %}

{% block context_js %}<script>
var COLORS = {'error': 'red', 'ok': '#98fb98',
    'exists': 'yellow', 'updated': '#08c408'};

var domains=[], redirects, records=[], consider, to_update = false, add_redirect=false;

function get_domains() {
    redirects = $("#redirect").val();
    var index1, index2, index3, name1, type1, value1;
    for (var i2 = 1; i2 < items+1; i2 += 1) {

        index1 = "#name"+i2;
        index2 = "#sel"+i2;
        index3 = "#value"+i2;
        name1 = $(index1).val();
        type1 = $(index2).val();
        value1 = $(index3).val();
        records.push({'name':name1, 'type':type1, 'value':value1});
    }
    var d = $('#input').val().split('\n');
    for (var i = 0; i < d.length; i += 1) {
        if (d[i] != "") {domains.push(d[i]);}
    }
}

function add_row(domain, status, info) {
    var st, tr = $('<tr>').insertAfter($('#head'));
    $('<td>').text(domain).appendTo(tr);
    st = $('<td>').appendTo(tr);
    $('<td>').text(info).appendTo(tr);

    console.log([domain, status, info])
    if (status === 'ok') {
        st.css('background-color', COLORS.ok).text('Добавлен');
    } else if (status === 'updated') {
        st.css('background-color', COLORS.updated).text('Обновлён');
    } else if (status === 'exists') {
        st.css('background-color', COLORS.exists).text('Существует');
    } else if (status === 'error')  {
        st.css('background-color', COLORS.error).text('Ошибка');
    } else {
        st.css('background-color', COLORS.error).text('Ошибка сервера');
    }
}

function post(i) {
    var args, records2;
    records2 = JSON.stringify(records);
    if (add_redirect) {
        args = {domain: domains[i], redir:redirects, redirect:add_redirect, records:records2, action: 'add', update:to_update, csrfmiddlewaretoken: '{{ csrf_token }}'};
    } else {
        args = {domain: domains[i], redirect:add_redirect, records:records2, action: 'add', update:to_update, csrfmiddlewaretoken: '{{ csrf_token }}'}
    }
    alert(JSON.stringify(args));
    $.post('.', args)
        .success(function (resp) {
            var status, text = '';
            if (resp.status === 'ok') {
                status = resp.status;

            } else {
                status = 'error';
                text = resp.msg;
            }
            add_row(domains[i], status, text);
            run_adder(i+1);

        })
        .error(function () {
            add_row(domains[i], 'server_error', '');
            run_adder(i+1);
        });
}


var reload_success;
function run_reload(i) {
    $.post('.', {domain: domains[i-1], action: 'reload', update:to_update, csrfmiddlewaretoken: '{{ csrf_token }}'})
        .success(function () {
        })
}

function run_adder(i) {
    if (i === undefined) {i=0;}
    if (i === domains.length) {
        run_reload(i)
        alert('Добавление закончено');
        return;
    }
        post(i);
}

function create_table() {
    var table = $('<table>').insertAfter('h1');
    $('<tr>').attr('id', 'head').appendTo(table).append('<th>Домен</th>')
        .append("<th>Статус</th>").append("<th>Информация</th>");
}

function add() {
    get_domains();
    
    $('#inputs').hide();
    to_update = $('#to_update').is(':checked');
    add_redirect = $('#add_redirect').is(':checked');


    create_table();

    run_adder();
}

var items=1;
function AddItem() {
  var div=document.getElementById("items1");
  var button=document.getElementById("add");
  items++;
  var newitem="<strong>имя " + items + ": </strong>";
  newitem+="<input type=\"text\" name=\"item" + items;
  newitem+="\" id=\"name"+items+"\" size=\"10\">";
  newitem+="<strong>тип " + items + ": </strong>";
  newitem+="<select id=\"sel"+items+"\"><option selected value=\"A\">А-запись</option><option value=\"MX\">MX-запись</option> \
                <option value=\"CNAME\">CNAME-запись</option><option value=\"TXT\">TXT-запись</option></select>";
  newitem+="<strong>значение " + items + ": </strong>";
  newitem+="<input type=\"text\" name=\"item" + items;
  newitem+="\" id=\"value"+items;
  newitem+="\" size=\"10\"><br>";
  var newnode=document.createElement("span");
  newnode.innerHTML=newitem;
  div.insertBefore(newnode,button);
}


</script>{% endblock %}

{% block main %}<h1>Добавление доменов</h1>
<style>
#inputs2  {
    display: none;
}
#add_redirect:checked ~ #inputs2 {
    display: block;
}
</style>
    <div id="inputs">
        <textarea id="input" cols=80 rows="30" autofocus="true"></textarea>
        <p><button id="add_button" onclick="add()">Добавить</button></p>
        <p>Обновлять существующие? <input id="to_update" type="checkbox" checked="true"/></p>
        <div>
                добавить редирект
                <input id="add_redirect" type="checkbox" />
                <div id="inputs2">
                  <input id="redirect" type="url" placeholder="Введите URL"> </input>
                </div>
        </div>

        <br/>
        <div ID="items1">


              <strong>имя 1: </strong><input type="text" id="name1" value="@" name="item1" size="10">
              <strong>тип 1: </strong>
              <select id="sel1">
                <option selected value="A">А-запись</option>
                <option value="MX">MX-запись</option>
                <option value="CNAME">CNAME-запись</option>
                <option value="TXT">TXT-запись</option>
              </select>
              <strong>значение 1: </strong><input type="text" id="value1" value="{{ default_ip }}" name="item1" size="10"><br>
              <input type="button" value="Добавить DNS запись" onClick="AddItem();" ID="add">
    </div> </div>
{% endblock %}
