{% extends "base.html" %}

{% block title %}Список доменов{% endblock %}

{% block context_css %}<style>
.right{float: right;}

table td {
    text-align: center !important;
}

table td:nth-child(4), table td:nth-child(5) {
    white-space: nowrap;
}
</style>{% endblock %}

{% block context_js %}<script>

var table;
var trans = {
  "processing": "Подождите...",
  "search": "Поиск:",
  "lengthMenu": "Отображать _MENU_ записей",
  "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
  "infoEmpty": "Записи с 0 до 0 из 0 записей",
  "infoFiltered": "(отфильтровано из _MAX_ записей)",
  "infoPostFix": "",
  "loadingRecords": "Загрузка записей...",
  "zeroRecords": "Записи отсутствуют.",
  "emptyTable": "В таблице отсутствуют данные",
  "paginate": {
    "first": "Первая",
    "previous": "Предыдущая",
    "next": "Следующая",
    "last": "Последняя"
  },
  "aria": {
    "sortAscending": ": активировать для сортировки столбца по возрастанию",
    "sortDescending": ": активировать для сортировки столбца по убыванию"
  }
};

function add_select_search(column) {
    var select = $('<select><option value=""></option></select>')
        .appendTo( $(column.footer()).empty() )
        .on( 'change', function () {
            var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
            );
            column
                .search( val ? '^'+val+'$' : '', true, false )
                .draw();
        } );

    column.data().unique().sort().each( function ( d, j ) {
        select.append( '<option value="'+d+'">'+d+'</option>' )
    } );
}

function add_text_search(column) {
    $('<input>').attr('type', 'text').appendTo($(column.footer()).empty())
        .on( 'keyup change', function () {
            if (column.search() !== this.value) {
                column.search(this.value).draw();
            }
        });
}

function construct_footer() {
    add_text_search(this.api().column('name:name'));
    add_text_search(this.api().column('comment:name'));
    add_select_search(this.api().column('status:name'));
    add_select_search(this.api().column('folder:name'));
    add_select_search(this.api().column('main_a_record:name'));
}

function select_all() {
    table.$('tr', {"filter":"applied"}).addClass('selected');
}

function deselect() {
    table.$('tr').removeClass('selected');
}

function send(action, data, callback) {
    req = {action: action, data: JSON.stringify(data),
        csrfmiddlewaretoken: '{{ csrf_token }}'};
    $.post('.', req)
        .success(function (resp) {
            if (resp.status === 'ok') {
                callback(resp.data);
            } else {
                console.log(resp);
                alert('Ошибка! Запрос не обработан.');
            }
        })
        .error(function (resp) {
            console.log(resp);
            alert('Ошибка! Запрос не обработан.');
        });
}

function change_comment() {
    var data = {}, sel = table.rows('.selected');
    sel.every(function () {
        var row = this.data();
        var new_comment = prompt('Изменить комментарий для ' + 
            row.name, row.comment);
        if (new_comment === null) {return;}
        data[row.name] = new_comment;
    });

    send('comment', data, function () {
        sel.every(function () {
            var d = this.data();
            comment = data[d['name']];
            if (comment === undefined) {return;}
            d.comment = comment;
            this.data(d).draw();
        });
        alert('Комментарии (' + Object.keys(data).length + ') успешно изменены');
    });
}

function change_a_record() {
    var data = {}, sel = table.rows('.selected');
    sel.every(function () {
        var row = this.data();
        var new_main_a_record = prompt('Изменить А запись для ' + row.name, row.main_a_record);
        if (new_main_a_record === null) {return;}
        data[row.name] = new_main_a_record;
    });

    send('main_a_record', data, function (resp) {
        sel.every(function () {
            var d = this.data();
            main_a_record = data[d['name']];
            if (main_a_record === undefined) {return;}
            d.records = main_a_record;
            d.status = resp[d['name']];
            this.data(d).draw();
        });
        console.log(resp)
        alert('Основные А записи (' + Object.keys(data).length + ') успешно изменены');
    });
}

function add_to_folder(folder) {
    var data = [], sel = table.rows('.selected');

    sel.every(function () {data.push(this.data().name)});

    send('folder', {folder: folder, names: data}, function () {
        sel.every(function () {
            var d = this.data();
            d.folder = folder;
            this.data(d).draw();
        });
        alert('Домены (' + data.length + ') успешно добавлены в папку "' + folder + '"');
    });
}


function delete_checked() {
    var data = [], sel = table.rows('.selected');
    sel.every(function () {data.push(this.data().name)});

    send('delete', data, function () {
        sel.remove().draw();
        alert('Домены (' + sel.data().length + ') успешно удалены');
    });
}

$(document).ready(function() {
    table = $('#main_table').DataTable( {
        "ajax": {
            url: '../api/',
            dataSrc: 'data'
        },
        columns: [
            {data: 'name', title: 'Домен', name: 'name', defaultContent: 'Н/Д'},
            {data: 'status', title: 'Статус', name: 'status', defaultContent: 'Н/Д'},
            {data: 'comment', title: 'Комментарий', name: 'comment', defaultContent: 'Н/Д'},
            {data: 'folder', title: 'Папка',
                name: 'folder', defaultContent: 'Н/Д'},
            {data: 'main_a_record', title: 'Основная А запись', name: 'main_a_record', defaultContent: 'Н/Д'},
        ],
        "lengthMenu": [[10, 100, 1000, 10000, -1],
            [10, 100, 1000, 10000, 'All']],

        //bFilter: false,
        initComplete: construct_footer,
        language: trans,
        dom: 'B<"right"lr>tip',
        select: {style: 'multi', info: false},
        buttons: [
            {text: 'Выбрать все', action: select_all},
            {text: 'Снять выделение', action: deselect},
            {text: 'Изменить комм.', action: change_comment},
            {text: 'Изменить главную А запись', action: change_a_record},
            {text: 'Удалить', action: delete_checked},
        ],
    } );

});
</script>{% endblock %}

{% block main %}
    <h1>Список доменов</h1>
    <p><span>Добавить в папку: </span>
        {% for folder in folders %}
            <button onclick="add_to_folder('{{ folder }}')">{{ folder }}</button>
        {% endfor %}
    </p>
    <table id="main_table" class="display dt-body-center">

        <thead>
            <tr>
                <th>Домен</th>
                <th>Статус</th>
                <th>Комментарий</th>
                <th>Папка</th>
                <th>Основная А запись</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
